.sensor_container
{
    display: flex;
}

.sensor
{
    border-radius: 10px;        
    border: solid white 1px;
    margin-right: 5px;
    padding: 20px;
    text-align: center;
    width: 120px;
}

.sensor h2 {
    font-size: 1.2em;
    margin: 0;
    color: lime;
}

.sensor h2 small {
    color: white;
    font-weight: normal;
    font-size: 0.6em;
    margin: 0;
}

.sensor h4 {
    font-size: 0.8em;
    
    margin: 0;
    color: white;
}
